{% extends "base.html" %}
{% block content %}
<div class="container mx-auto py-10">
  <h1 class="text-3xl font-bold text-center text-yellow-400 mb-6">{{ test.title }}</h1>

  <form method="post" action="{% url 'submit_test' test.id %}">
    {% csrf_token %}
    {% for q in questions %}
      <div class="bg-gray-900 p-6 rounded-xl shadow mb-6">
        <p class="text-white font-semibold mb-2">Q{{ forloop.counter }}. {{ q.text }}</p>
        <label><input type="radio" name="{{ q.id }}" value="A"> {{ q.option_a }}</label><br>
        <label><input type="radio" name="{{ q.id }}" value="B"> {{ q.option_b }}</label><br>
        <label><input type="radio" name="{{ q.id }}" value="C"> {{ q.option_c }}</label><br>
        <label><input type="radio" name="{{ q.id }}" value="D"> {{ q.option_d }}</label>
      </div>
    {% endfor %}
    <button type="submit" class="w-full bg-green-600 hover:bg-green-700 py-2 rounded-xl text-white font-bold">Submit Test</button>
  </form>
</div>
{% endblock %}
